<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ad Optimization - Increase Conversion Rates of Your Advertisements</title>
<meta name="title" content="Ad Optimization - Increase Conversion Rates of Your Advertisements">
<meta name="description" content="Get an Advertising Guide that will show you exactly how to convert more visitors into customers.">
<link rel="shortcut icon" href="favicons/images-favicon.ico" type="image/x-icon">
<link rel="icon" href="favicons/images-favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="css/css-bootstrap.min.css" media="screen">

<link rel="stylesheet" href="css/css-main.css" media="screen">
<link rel="stylesheet" href="css/css-responsive.css" media="screen">
<meta property="og:image" content="public/images/open graph photo.png">
<meta property="og:title" content="Ad Optimization - Increase Conversion Rates of Your Advertisements">
<meta property="og:description" content="Conversion Advertising Guide that helps you convert more visitors into customers!">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">
<meta property="og:url" content="https://conversion.design">

<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MFWJ2JF');
    </script>

</head>
<body>
 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFWJ2JF" style="display:none;visibility:hidden" width="0" height="0"></iframe></noscript>


<div id="page">

<header id="header">
<div class="container">
<div class="row">
<div class="col-lg-4">
<a class="logotype"><img src="images/a1logo.png" alt="Conversion designer - Charli Roberts">
<span>Affluent Learn</span><br>
Advertising
</a>
</div>
<div class="col-lg-8">
<nav class="navbar navbar-expand-lg navbar-light float-right">
<button class="navbar-toggler info-line" type="button">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav">
<li> <a href="#">My
Work</a></li>
<li class="active">
<a href="#">Ad Optimization</a>
</li>



<li><a href="#">Ad Template<span>NEW</span></a></li> <li> <a href="#">Funnel Strategies</a></li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</header> <div id="content" class="conversion-area">
<div class="black-box">
<div class="container medium text-center">
<img src="images/checkmark1.png"><br>
<h1>Payment Success</h1>
<div class="large-text">
<p>Download your contents below.</strong> </p>
</div>
</div>
</div><br>
<div class="container large first-container">

    <div class="btn dbtn">
        <a class="mybtn" href="/download-book"
          >Download NOW</a
        >
      </div>
      <div class="btn dbtn">
        <a class="mybtn" href="https://1drv.ms/f/s!Ag-_aekOAe_bdCBZFFrE-0AaSmY?e=jVNsTC"
          >Alternate Download link</a
        >
      </div>

</div>


<div class="container small">

























<div class="container small">







<div class="box-white">
<h4>WHATS NEXT?</h4>
<h3> It’s time for you to <span>Leave a Review</span></h3>
<p>You will be asked to Review your purchase in next few days on Facebook, please make sure to leave a positive Review So that
    we can continue to update the guide and keep it Alive.
</p>
<p>Thanks.</p>
<p>For any Query, Reach out to aff.preet@outlook.com</p>

</div>
<div style="text-align:center; margin-top:-20px; margin-bottom:30px;">
<a target="blank" style="color:#999;">Privacy Policy</a>
<a target="blank" style="color:#999; margin-left: 30px;">Terms of service</a>
<a target="blank" style="color:#999; margin-left: 30px;">Return &amp; exchange
policy</a>
<p style="color:#999; font-size:16px; margin-top: 10px; margin-left: 30px;">Get in touch with us:
aff.preet@outlook.com</p>
<p style="color:#999; font-size:16px; margin-top: 10px; margin-left: 30px;">This website is not a part of the Facebook or Instagram website or Meta Platforms, Inc. / Meta.<br>
    Additionally, this site is NOT endorsed by Facebook or Instagram in ANY WAY.
    FACEBOOK and INSTAGRAM are trademarks of Meta Platforms Inc.</p>
</div>
</div>
</div>
</div>
<script data-cfasync="false" src="js/cloudflare-static-email-decode.min.js"></script><script src="js/js-jquery.js"></script>

<script src="js/js-bootstrap.min.js"></script>
<script src="js/js-bootstrap.bundle.min.js"></script>
<script src="js/js-main.js"></script>
</body>
</html>
